@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham-Bold';
  src: url('/fonts/Gotham-Bold.otf') format('otf');
  font-weight: normal; /* or bold, etc. */
  font-style: normal; /* or italic, etc. */
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/fonts/Gotham-Medium.otf') format('otf');
  font-weight: normal; /* or bold, etc. */
  font-style: normal; /* or italic, etc. */
}

@font-face {
  font-family: 'Gotham-Narrow';
  src: url('/fonts/GothamNarrow-Bold.otf') format('otf');
  font-weight: normal; /* or bold, etc. */
  font-style: normal; /* or italic, etc. */
}


@font-face {
  font-family: 'Gotham-Light';
  src: url('/fonts/Gotham-Light.otf') format('otf');
  font-weight: normal; /* or bold, etc. */
  font-style: normal; /* or italic, etc. */
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: url('/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: auto; /* Ensure scrolling is allowed (if needed) */
}

/* Proper scrollbar styling for WebKit browsers */
body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit browsers */
}

/* For other browsers like Firefox */
body {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides the scrollbar in IE/Edge */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}